@page
@model JewelrySalesStoreRazorWebApp.Pages.CompanyPage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Company</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">
                <label asp-for="Company.CompanyId" class="control-label"></label>
                <input asp-for="Company.CompanyId" class="form-control" readonly />
                <span asp-validation-for="Company.CompanyId" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Company.CompanyName" class="control-label"></label>
                <input asp-for="Company.CompanyName" class="form-control" />
                <span asp-validation-for="Company.CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.CompanyAddress" class="control-label"></label>
                <input asp-for="Company.CompanyAddress" class="form-control" />
                <span asp-validation-for="Company.CompanyAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.CompanyDescription" class="control-label"></label>
                <input asp-for="Company.CompanyDescription" class="form-control" />
                <span asp-validation-for="Company.CompanyDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.CompanyPhone" class="control-label"></label>
                <input asp-for="Company.CompanyPhone" class="form-control" />
                <span asp-validation-for="Company.CompanyPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.Website" class="control-label"></label>
                <input asp-for="Company.Website" class="form-control" />
                <span asp-validation-for="Company.Website" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.FoundationDate" class="control-label"></label>
                <input asp-for="Company.FoundationDate" class="form-control" />
                <span asp-validation-for="Company.FoundationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.Email" class="control-label"></label>
                <input asp-for="Company.Email" class="form-control" />
                <span asp-validation-for="Company.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.IsActive" class="control-label"></label>
                <input asp-for="Company.IsActive" class="form-control" />
                <span asp-validation-for="Company.IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.Notes" class="control-label"></label>
                <input asp-for="Company.Notes" class="form-control" />
                <span asp-validation-for="Company.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
