@page
@model JewelrySalesStoreRazorWebApp.Pages.OrderPage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Order.OrderId" class="control-label"></label>
                <input asp-for="Order.OrderId" class="form-control" />
                <span asp-validation-for="Order.OrderId" class="text-danger"></span>
            </div>
         @*    <div class="form-group">
                <label asp-for="Order.CustomerId" class="control-label"></label>
                <select asp-for="Order.CustomerId" class ="form-control" asp-items="ViewBag.CustomerId"></select>
            </div> *@
            <div class="form-group">
                <label asp-for="Order.CustomerId" class="control-label"></label>
                <input asp-for="Order.CustomerId" class="form-control" />
                <span asp-validation-for="Order.CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Date" class="control-label"></label>
                <input asp-for="Order.Date" class="form-control" />
                <span asp-validation-for="Order.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.TotalPrice" class="control-label"></label>
                <input asp-for="Order.TotalPrice" class="form-control" />
                <span asp-validation-for="Order.TotalPrice" class="text-danger"></span>
            </div>
@*             <div class="form-group">
                <label asp-for="Order.CompanyId" class="control-label"></label>
                <select asp-for="Order.CompanyId" class ="form-control" asp-items="ViewBag.CompanyId"></select>
            </div> *@
            <div class="form-group">
                <label asp-for="Order.CompanyId" class="control-label"></label>
                <input asp-for="Order.CompanyId" class="form-control" />
                <span asp-validation-for="Order.CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Status" class="control-label"></label>
                <input asp-for="Order.Status" class="form-control" />
                <span asp-validation-for="Order.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.PaymentMethod" class="control-label"></label>
                <input asp-for="Order.PaymentMethod" class="form-control" />
                <span asp-validation-for="Order.PaymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.ShippingMethod" class="control-label"></label>
                <input asp-for="Order.ShippingMethod" class="form-control" />
                <span asp-validation-for="Order.ShippingMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.CustomerAddress" class="control-label"></label>
                <input asp-for="Order.CustomerAddress" class="form-control" />
                <span asp-validation-for="Order.CustomerAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.CustomerBankAccount" class="control-label"></label>
                <input asp-for="Order.CustomerBankAccount" class="form-control" />
                <span asp-validation-for="Order.CustomerBankAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
