@page
@model JewelrySalesStoreRazorWebApp.Pages.ProductPage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product.ProductId" />
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" type="file" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Name" class="control-label"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Color" class="control-label"></label>
                <input asp-for="Product.Color" class="form-control" />
                <span asp-validation-for="Product.Color" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Product.Weight" class="control-label"></label>
                <input asp-for="Product.Weight" class="form-control" />
                <span asp-validation-for="Product.Weight" class="text-danger"></span>
            </div>
            

            <div class="form-group">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.CategoryId" class="control-label"></label>
                <select asp-for="Product.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.PromotionId" class="control-label"></label>
                <select asp-for="Product.PromotionId" class="form-control" asp-items="ViewBag.PromotionId"></select>
                <span asp-validation-for="Product.PromotionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.IsActive" class="control-label"></label>
                <input asp-for="Product.IsActive" class="form-control" />
                <span asp-validation-for="Product.IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Notes" class="control-label"></label>
                <input asp-for="Product.Notes" class="form-control" />
                <span asp-validation-for="Product.Notes" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-success" />
                <a style="text-decoration: none;" class="btn btn-secondary text-white" asp-page="./Index">Back</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
