@page
@model JewelrySalesStoreRazorWebApp.Pages.OrderDetailPage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OrderDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderDetail.OrderDetailId" />

            <div class="form-group">
                <label asp-for="OrderDetail.OrderId" class="control-label"></label>
                <select asp-for="OrderDetail.OrderId" class="form-control" asp-items="ViewBag.OrderId"></select>
                <span asp-validation-for="OrderDetail.OrderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDetail.ProductId" class="control-label"></label>
                <select asp-for="OrderDetail.ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
                <span asp-validation-for="OrderDetail.ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDetail.Quantity" class="control-label"></label>
                <input asp-for="OrderDetail.Quantity" class="form-control" asp-trim="true" />
                <span asp-validation-for="OrderDetail.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDetail.UnitPrice" class="control-label"></label>
                <input asp-for="OrderDetail.UnitPrice" class="form-control" asp-trim="true" />
                <span asp-validation-for="OrderDetail.UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDetail.TotalPrice" class="control-label"></label>
                <input asp-for="OrderDetail.TotalPrice" class="form-control" asp-trim="true" />
                <span asp-validation-for="OrderDetail.TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDetail.DiscountPrice" class="control-label"></label>
                <input asp-for="OrderDetail.DiscountPrice" class="form-control" asp-trim="true" />
                <span asp-validation-for="OrderDetail.DiscountPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDetail.FinalPrice" class="control-label"></label>
                <input asp-for="OrderDetail.FinalPrice" class="form-control" asp-trim="true" />
                <span asp-validation-for="OrderDetail.FinalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label" for="flexCheckDefault">Is Active</label>
                    <input class="form-check-input" type="checkbox" id="flexCheckDefault" asp-for="OrderDetail.IsActive">
                </div>
            </div>
            <div class="form-group">
                <label asp-for="OrderDetail.Notes" class="control-label"></label>
                <input asp-for="OrderDetail.Notes" class="form-control" asp-trim="true" />
                <span asp-validation-for="OrderDetail.Notes" class="text-danger"></span>
            </div>
            
            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a style="text-decoration: none;" class="btn btn-secondary text-white" asp-page="./Index">Back</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
