@page
@model JewelrySalesStoreRazorWebApp.Pages.OrderDetailPage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<h1>Edit</h1>

<h4>OrderDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="OrderDetail.OrderDetailId" />

            <div class="form-group">
                <label asp-for="OrderDetail.OrderId" class="control-label"></label>
                <input asp-for="OrderDetail.OrderId" class="form-control" readonly />
                <span asp-validation-for="OrderDetail.OrderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDetail.ProductId" class="control-label"></label>
                <input asp-for="OrderDetail.ProductId" class="form-control" readonly />
                <span asp-validation-for="OrderDetail.ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDetail.Quantity" class="control-label"></label>
                <input asp-for="OrderDetail.Quantity" class="form-control" readonly />
                <span asp-validation-for="OrderDetail.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDetail.UnitPrice" class="control-label"></label>
                <input asp-for="OrderDetail.UnitPrice" class="form-control" readonly />
                <span asp-validation-for="OrderDetail.UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDetail.TotalPrice" class="control-label"></label>
                <input asp-for="OrderDetail.TotalPrice" class="form-control" readonly />
                <span asp-validation-for="OrderDetail.TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PromotionCode" class="control-label"></label>
                <select asp-for="PromotionId" class="form-control" asp-items="@ViewBag.PromotionCode" id="PromotionSelect"></select>
                <span asp-validation-for="PromotionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDetail.DiscountPrice" class="control-label"></label>
                <input asp-for="OrderDetail.DiscountPrice" class="form-control" readonly />
                <span asp-validation-for="OrderDetail.DiscountPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDetail.FinalPrice" class="control-label"></label>
                <input asp-for="OrderDetail.FinalPrice" class="form-control" readonly />
                <span asp-validation-for="OrderDetail.FinalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDetail.IsActive" class="control-label"></label>
                <select asp-for="OrderDetail.IsActive" class="form-control">
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="OrderDetail.Notes" class="control-label"></label>
                <input asp-for="OrderDetail.Notes" class="form-control" />
                <span asp-validation-for="OrderDetail.Notes" class="text-danger"></span>
            </div>

            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-success" />
                <a style="text-decoration: none;" class="btn btn-secondary text-white" asp-page="./Index">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#PromotionSelect').change(function () {
                //var promotionCode = $('#PromotionSelect').text();
                //$('#PromotionCode').val(promotionCode);
                calculateFinalPrice();
            });

            function calculateFinalPrice() {
                var promotionId = $('#PromotionSelect').val();
                var quantity = $('#OrderDetail_Quantity').val();
                var unitPrice = $('#OrderDetail_UnitPrice').val();

                $.ajax({
                    url: '@Url.Page("/OrderDetailPage/CalculateFinalPrice")',
                    type: 'GET',
                    data: {
                        promotionId: promotionId,
                        quantity: quantity,
                        unitPrice: unitPrice
                    },
                    success: function (data) {
                        $('#OrderDetail_DiscountPrice').val(data.discountPrice);
                        $('#OrderDetail_FinalPrice').val(data.finalPrice);
                    },
                    error: function () {
                        alert('Error calculating final price.');
                    }
                });
            }
        });
    </script>
}
